In [1]:
import pandas as pd

# Write a Pandas program to filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset.

In [2]:
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nFilter rows based on row numbers ended with 0, like 0, 10, 20, 30:")
print(w_a_con.filter(regex='0$', axis=0))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Filter rows based on row numbers ended with 0, like 0, 10, 20, 30:
    Year             WHO region                     Country Beverage Types  \
0   1986        Western Pacific                    Viet Nam           Wine
10  1987                 Africa                    Botswana           Wine
20  1986        South-East Asia                     Myanmar           Wine
30  1986                 Africa                Sierra Leone          Other
40  1987                 Europe                     Austria        Spirits
50  1985                 Europe                 Switzerland          Other
60  1987  Eastern Mediterranean  Iran (Islamic Republic of)          Other
70  1986                 Africa                  Madagascar        Spirits
80  1985                 Africa                      Malawi          Other
90  1989                 Africa                      Malawi           Wine

    Display Value
0            0.00
10           0.20
20           0.00
30           4.48
40           1.90
50           0.30
60           0.00
70           1.02
80           0.84
90           0.01

In [4]:
len(w_a_con)

100

In [3]:
w_a_con[0::10]

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
10,1987,Africa,Botswana,Wine,0.20
20,1986,South-East Asia,Myanmar,Wine,0.00
30,1986,Africa,Sierra Leone,Other,4.48
40,1987,Europe,Austria,Spirits,1.90
50,1985,Europe,Switzerland,Other,0.30
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
70,1986,Africa,Madagascar,Spirits,1.02
80,1985,Africa,Malawi,Other,0.84
90,1989,Africa,Malawi,Wine,0.01

In [6]:
who_region = ["Africa", "Eastern Mediterranean", "Europe"]
flt_wine = w_a_con["WHO region"].isin(who_region)
w_a_con[flt_wine]

    Year WHO region            Country Beverage Types  Display Value
2   1985     Africa       Cte d'Ivoire           Wine           1.62
6   1987     Africa          Mauritius           Wine           0.13
7   1985     Africa             Angola        Spirits           0.39
9   1984     Africa            Nigeria          Other           6.10
10  1987     Africa           Botswana           Wine           0.20
..   ...        ...                ...            ...            ...
93  1987     Africa         Madagascar          Other            NaN
94  1985     Europe            Ukraine        Spirits           3.06
95  1984     Africa              Niger          Other           0.00
96  1985     Europe         Luxembourg           Wine           7.38
98  1984     Africa  Equatorial Guinea           Wine           0.00

[69 rows x 5 columns]